/* this is for font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* start prymay style for all */
body {
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.primary-button {
  color: #ffffff;
  font-family: inherit;
  outline: 0;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 24px;
  border-radius: 41px;
  background-color: #e02c6d;
}
.btn-fw {
  padding-left: 10px;
}

/*------------------------------
    heder section style 
 -------------------------------*/
.name {
  color: #3a3a3a;
  font-size: 24px;
}
.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner:hover img {
  transform: rotate(45deg);
  transition: transform 1s ease-in-out;
}
.banner-laft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.banner-laft h1 {
  font-size: 50px;
  color: #3a3a3a;
}
.banner-laft p {
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
  text-align: justify;
}
.banner-right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.banner-right img {
  width: 100%;
}
hr {
  border: 1px solid #dce3ea;
  max-width: 1110px;
  margin: 0 auto;
}

/*-------------------------------------
    popular collection gallary style 
--------------------------------------*/
.section-title h2 {
  font-size: 28px;
  color: #3a3a3a;
  margin: 50px 0;
}
.section-title {
  text-align: center;
}

.popular-collaction {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
}
.card {
  max-width: 329px;
  padding: 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  border-radius: 6px;
}
.card-photo img {
  width: 100%;
  border-radius: 6px;
}
.card-title h2 {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
}
.card-title h3 {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
}
.card-rating {
  color: #fb8200;
  font-size: 16px;
}
.card-rating span {
  font-weight: 700;
  font-size: 14px;
  margin-left: 5px;
  color: #5e6366;
}
.card p {
  color: #787885;
  font-weight: 700;
  font-size: 14px;
  margin-top: 10px;
}
.see-more {
  text-align: end;
  margin-top: 50px;
  margin-right: 15px;
}
.see-more a {
  text-decoration: none;
  color: #e02c6d;
}

/*-----------------
signup style start 
-------------------*/
.signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.signup-laft {
  padding: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  border-radius: 10px;
}

.signup-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Contact {
  font-size: 14px;
  font-weight: 500;
}
.Contact p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 20px;
}
.signup-more {
  font-size: 14px;
  font-weight: 500;
}

.text-field {
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 5px;
}

/*-----------------
  footer start 
 -----------------*/
footer {
  background-color: #0a0826;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer h3 {
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
}
footer p {
  color: #ffffff;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}
footer P i {
  padding-right: 10px;
  margin-bottom: 50px;
}

@media screen and (max-width: 950px) {
  .container footer {
    max-width: 100%;
  }
  .banner {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  .popular-collaction {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 30px; */
    align-content: center;
    justify-items: center;
    align-items: end;
  }
  .card-photo img {
    max-width: 350px;
  }

  .signup {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  .banner {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .popular-collaction {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .card {
    align-items: center;
  }

  .signup {
    grid-template-columns: 1fr;
  }
  .signup-laft iframe {
    max-width: fit-content;
  }
}
